.lead__title{
    margin: 0;
    padding: 0;
    max-width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center; 
}

@media screen and (max-width: 720px) {
    .lead__title{
        font-size: 86px;
        line-height: 70px;
    }
}

@media screen and (max-width: 650px) {
    .lead__title{
        font-size: 60px;
        line-height: 55px;
        max-width: 440px;
    }
}

@media screen and (max-width: 550px) {
    .lead__title{
        font-size: 45px;
        line-height: 46px;
        max-width: 380px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}