.cover{
    padding: 0 48px;
}   

@media screen and (max-width: 1150px) {
    .cover{
        padding-left: 30px;
        padding-right: 30px;
    }   
}

@media screen and (max-width: 1024px) {
    .cover{
        padding: 0;
    }   
}

