.cover__title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 600px) {
    .cover__title{
        font-size: 63px;
        line-height: 59px;
    }
}

@media screen and (max-width: 530px) {
    .cover__title{
        font-size: 54px;
        line-height: 47px;
    }
}

@media screen and (max-width: 426px) {
    .cover__title{
        font-size: 47px;
        line-height: 38px;
    }
}

@media screen and (max-width: 376px) {
    .cover__title{
        font-size: 40px;
        line-height: 32px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}